/* reset predefined styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* set variables for colors and spaces */
:root{

    --c-main : #FF7400;
    --c-sec-100 : #FFFFFF;
    --c-sec-200 : #F9F9F9;
    --c-sec-500 : #212121;
    --c-sec-900 : #141414; 

    --space-05 : .5em;
    --space-1 : 1em;
    --space-2 : 2em;
    --space-3 : 3em;
    --space-4 : 4em;

}

/* class utilities for flexbox */
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}


body {


    /* base font size and family */
    font-size : 16px;
    font-family: "Inter", sans-serif;

    /* how to use variables */
    background-color : var(--c-sec-900);
}


.top-container {
  background-color: #141414;
  padding: .5em;
}




div h1 {
  font-size:100% ;
  font-family: 'Alexandria';
  color: var(--c-sec-100);
}

.mapContainer {
  height: 15em;
}

.map {
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.descriptionContainer {
  margin: var(--space-1);
  padding: var(--space-1) var(--space-1);
  
  background-color: var(--c-sec-500);
  
  border-radius: 1em;
}

p {
font-size: .7em;
  font-weight: 150;
  color: var(--c-sec-100);
  font-family: 'Alexandria';
}
 h3 {
  color: var(--c-sec-100);
  padding-bottom: .6em;
  font-weight: 400 ;
  font-size: 1em;
  font-family: 'Alexandria';
}

.mediaContainer h3 {
  padding: var(--space-2);
}

.greyBox {
  background-color: var(--c-sec-500);
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mediaIcon {
 
}